.container {
    width: 50%;
    text-transform: uppercase;
    justify-content: center;
    color: white;
}

.container p {
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contatoPag {
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}