<header>
    <div class="container-grid">
        <a routerLink="">
            <img class="logo" src="../../../assets/images/GAME_MANIA-removebg-preview.png" alt="">
        </a>
        <a href="#" id="barras">
            <img class="barras" src="img/bars.svg" alt="">
        </a>
        <nav id="menu" class="menu">
            <a routerLink="">Início</a>
            <a routerLink="destaques">Eletrônicos</a>
            <a routerLink="contato">Contato</a>
            <a routerLink="login">Login</a>
        </nav>
    </div>
</header>