<footer>
    <div class="container rodape">
        <div class="links-footer">
            <div class="links">
                <h2>Páginas</h2>
                <ul>
                    <li><a routerLink="">Início</a></li>
                    <li><a routerLink="destaques">Eletrônicos</a></li>
                    <li><a routerLink="contato">Contato</a></li>
                    <li><a routerLink="login">Login</a></li>
                </ul>
            </div>
            <div class="links">
                <h2>Links Úteis</h2>
                <ul>
                    <li><a href="">Newsletter</a></li>
                    <li><a href="">Central de Ajuda</a></li>
                    <li><a href="">Dúvidas frequentes</a></li>
                </ul>
            </div>
        </div>
        <div>
            <img class="logo-rodape" src="../../../assets/images/GAME_MANIA-removebg-preview.png" alt="Logo Game Mania">
        </div>
        <div class="sociais">
            <h2>Faça parte do nosso clan, receba noticias, promoções e spam!!!</h2>
            <form action="">
                <input id="campo-email" type="email" placeholder="E-mail" required>
                <button onclick="enviarEmail()" class="botao-cadastrar">Cadastrar</button>
            </form>
            <div class="siga-nos">
                <h2>Siga-nos:</h2>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
            </div>
        </div>

    </div>
</footer>