<div class="container">

    <div class="form">
        <form #userForm="ngForm" (ngSubmit)="OnSubmit()">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastre-se</h1>
                </div>
            </div>

            <div class="input-group">
                <div class="input-box">
                    <label for="firstname">Primeiro Nome</label>
                    <input id="firstname" type="text" name="firstname" placeholder="Digite seu primeiro nome" required
                        [(ngModel)]="UserModel.name">
                </div>

                <div class="input-box">
                    <label for="lastname">Sobrenome</label>
                    <input id="lastname" type="text" name="lastname" placeholder="Digite seu sobrenome" required
                        [(ngModel)]="UserModel.lastname">
                </div>
                <div class="input-box">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required
                        [(ngModel)]="UserModel.email">
                </div>

                <div class="input-box">
                    <label for="number">Celular</label>
                    <input id="number" type="tel" name="number" placeholder="(xx) xxxx-xxxx" required
                        [(ngModel)]="UserModel.number">
                </div>

                <div class="input-box">
                    <label for="password">Senha</label>
                    <input id="password" type="password" name="password" placeholder="Digite sua senha" required
                        [(ngModel)]="UserModel.senha">
                </div>


                <div class="input-box">
                    <label for="confirmPassword">Confirme sua Senha</label>
                    <input id="confirmPassword" type="password" name="confirmPassword"
                        placeholder="Digite sua senha novamente" required>
                </div>

            </div>



            <div class="continue-button">
                <button type="submit">Continuar</button>
            </div>
        </form>
    </div>
    <!-- <div class="form-image">
        <img src="assets/img//undraw_shopping_re_3wst.svg" alt="">
    </div> -->
    <div class="form1">
        <form #userForm="ngForm" (ngSubmit)="OnSubmit()">
            <div class="form-header1">
                <div class="title">
                    <h1>Login</h1>
                </div>
            </div>

            <div class="input-group1">

                <div class="input-box1">
                    <label for="email1">E-mail</label>
                    <input id="email1" type="email" name="email" placeholder="Digite seu e-mail" required
                        [(ngModel)]="UserModel.email">
                </div>

                <div class="input-box1">
                    <label for="password1">Senha</label>
                    <input id="password1" type="password" name="password" placeholder="Digite sua senha" required
                        [(ngModel)]="UserModel.senha">
                </div>

            </div>



            <div class="continue-button">
                <button type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>